<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enrollment System🔥 </title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">	
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="https://kit.fontawesome.com/0d017db784.js" crossorigin="anonymous"></script>

    <!---FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
  
</head>
<body>
    <div class="wrapper d-flex align-items-stretch" id="container" >
        <nav id="sidebar">
            <div class="p-4 pt-5">
              <img src="images/id.gif" alt="gif id animation" style="width: 100px; height: 100px;" class="img logo rounded-circle mb-5">
        <ul class="list-unstyled components mb-5">
    
          <li class="active">
            <a href="/"><i class="fas fa-home" style="margin-right: 15px;"></i>Home</a>
          </li>
    
          <li>
              <a href="profile"><i class="fas fa-user-circle" style="margin-right: 15px;"></i>Profile</a>
          </li>
    
          <li>
          <a href="add"><i class="fas fa-plus-square" style="margin-right: 15px;"></i>Add Subject</a>
          </li>
    
        <li>
          <a href="change"><i class="far fa-calendar-check" style="margin-right: 15px;"></i>Change Subject</a>
          </li>
    
          <li>
            
          <a href="delete"><i class="fas fa-trash-alt" style="margin-right: 15px;"></i>Delete Subject</a>
          </li>
    
        <li>
          <a href="/" target="blank"><i class="fas fa-sign-out-alt" style="margin-right: 15px;"></i>Logout</a>
        </li>
    
        </ul>
      </div>
    </nav> 
    

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">
    
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
    
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent ">
          
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"><b>AMA Computer Learning Centre</b></a>
            </li>
          </ul>
        </div>
    
      </div>
    </nav>
    
