<%- include('partials/header')  %> 

  <h1 class="mainTitle">Enrollment System</h1>

  <h3 class="articlesT">Latest Articles</h3>

  <div class="testCard">

    <div class="card" style="width: 18rem;">
      <img src="images/imgEnrollment.jpg" class="card-img-top imgSize" alt="...">
      <div class="card-body">
        <h5 class="card-title">Enroll Now</h5>
        <p class="card-text">Enroll now and enjoy the benefits of learning </p>
        <a href="#" class="btn btn-primary">Click here to enroll</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="images/beautyqueen.jpg" class="card-img-top  imgSize" alt="...">
      <div class="card-body">
        <h5 class="card-title">Pageant Week</h5>
        <p class="card-text"> To the ladies out thre, are you kind, gracious, as well as generous?. 
          Its time to shine up and be recognized as the Ms. ACLC for the year click below to sign up.</p>
        <a href="#" class="btn btn-primary">Click Here</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="images/programming.jpg" class="card-img-top  imgSize" alt="...">
      <div class="card-body">
        <h5 class="card-title">Programming Week</h5>
        <p class="card-text">It's time to bring coding and digital literacy to everybody in a fun and engaging way. Sign Up below to join.</p>
        <a href="#" class="btn btn-primary">Click Here</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="images/arts.jpg" class="card-img-top  imgSize" alt="...">
      <div class="card-body">
        <h5 class="card-title">Arts</h5>
        <p class="card-text">If you create amazing art and are looking to gain exposure, art contests are a great opportunity. 
          Check out the best to enter in 2022..</p>
        <a href="#" class="btn btn-primary">Click Here</a>
      </div>
    </div>
    
</div>

<p class="descEnrollment">Our online student registration system combines our tuition management and student information system features. This includes student recruiting software, 
  enrollment functionality, school waitlists, student record keeping, as well as payments and student financials.</p>

  <%- include('partials/footer')  %> 
